# Question 1: Check if a given number is an Armstrong number or not.

In [ ]:
# Version 1
def checkArmstrongNumber(n):
  armstrong_number = 0
  for i in str(n):
    armstrong_number += pow(int(i), len(str(n)))
  if armstrong_number == n:
    print(f"Number {n} is a Armstrong number")
  else:
    print(f"Number {n} is NOT a Armstrong number")
checkArmstrongNumber(153)
checkArmstrongNumber(370)
checkArmstrongNumber(371)
checkArmstrongNumber(407)

In [ ]:
# Version 2 from Course
Number = int(input("Enter the number to be checked "))
order = len(str(Number))
sum = 0

Temp = Number # creating a temporary variable
while(Temp > 0):
  digit = Temp % 10
  sum = sum + digit ** order
  Temp = Temp // 10

# showing the result
if (Number == sum):
  print("Given number is an Armstrong number")
else:
  print("Given number is not an Armstrong number")

Enter the number to be checked 22
Given number is not an Armstrong number

# Question 2: Get a range of fibonacci Series

In [ ]:
# Version 1
def fibonacciSeries(n):
  if n <= 1:
    return n
  else:
    return fibonacciSeries(n-1) + fibonacciSeries(n-2)
for i in range(10):
  print(fibonacciSeries(i), end=" ")
# fibonacciSeries(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
# Version 2 from Course
Num = int(input("Please enter the number of terms "))

n1, n2 = 0, 1
count = 0
if Num <= 0:
   print("You need to enter the positive number")
elif Num  == 1:
   print(n1, end=" ")
else:
   while count < Num:
       print(n1, end=" ")
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count = count + 1

Please enter the number of terms 4
0 1 1 2

# Question 3: Print the factorial of a number

In [ ]:
# Version 1
def factorial(n):
  result = 1
  for i in range(1, n + 1):
    result *= i
  print(result)
factorial(5)

120

In [ ]:
# Version 2 from Course
Num = int(input("Enter the number "))
fact = 1

if Num < 0:
   print("Try Entering some positive number")
elif Num == 0:
   print(1)
else:
   for i in range(1, Num+1):
       fact = fact * i
   print(fact)

Enter the number 5
120

# Question 4: Print the ASCII value of a character

In [ ]:
# Version 1
def ascii_value(character):
  asc_val = ord(character)
  print(asc_val)
ascii_value('A')

In [ ]:
# Version 2 from Course
# approach : 1
c = 'A'
print(ord(c))
# Converting the value into the character --
print(chr(65))

65
A

# Question 5: Change the first and last element of the list

In [ ]:
# Version 1
def change_fist_last_element(my_list):
  first = my_list[0]
  last = my_list[-1]
  my_list[0] = last
  my_list[-1] = first
  print(my_list)
change_fist_last_element([1, 2, 3, 4, 5, 6])

[6, 2, 3, 4, 5, 1]

In [ ]:
# Version 2 from Course
list1 = [80,90,45,87,40]
print(list1)

# changing the fist and last element
list1[0],list1[4] = 800,400
print(list1)

[80, 90, 45, 87, 40]
[800, 90, 45, 87, 400]

# Question 6: Reverse the list

In [ ]:
# Version 1
list1 = [1, 2, 3, 4, 5, 6]
print("Initial list:",list1)
list1.reverse()
print("Reversed list first time",list1)
print()
list2 = list1[::-1]
print("Reversed list second time", list2)

Initial list: [1, 2, 3, 4, 5, 6]
Reversed list first time [6, 5, 4, 3, 2, 1]

Reversed list second time [1, 2, 3, 4, 5, 6]

In [ ]:
# Version 2 from Course
list1 = ["Hello","Python","Developers","Thank you"]
print("List is", list1)
list1.reverse()
print(list1)
print()
list1 = ["Hello","Python","Developers","Thank you"]
print(list1)
print("The reverse of the list is", list1[: : -1])

List is ['Hello', 'Python', 'Developers', 'Thank you']
['Thank you', 'Developers', 'Python', 'Hello']

['Hello', 'Python', 'Developers', 'Thank you']
The reverse of the list is ['Thank you', 'Developers', 'Python', 'Hello']

# Question 7: Print the sum of the element of the list

In [ ]:
# Version 1
def sum_elements_list(my_list):
  sum = 0
  for i in my_list:
    sum += i
  print(sum)
sum_elements_list([1, 2, 3, 4, 5])

15

In [ ]:
# Version 2.1 from Course
list1 = [1, 2, 3, 4, 5]
print(sum(list1))

15

In [ ]:
# Version 2.2 from Course
list1 = [1, 2, 3, 4, 5]
sum = 0
for i in list1:
  sum = sum + i
print(sum)

15

# Question 8: Add the element of two matrices

In [ ]:
# Version 1
def add_elements_matrices(mat1, mat2):
  result = []
  for i in range(len(mat1)):
    row = []
    for j in range(len(mat1[0])):
      row.append(mat1[i][j] + mat2[i][j])
    result.append(row)
  return result
mat1 = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
mat2 = [[4, 4, 4], [5, 5, 5], [6, 6, 6]]
add_elements_matrices(mat1, mat2)

In [ ]:
# Version 2 from Course
A = [[2,5,3],
    [4 ,6,6],
    [2 ,1,9]]

B = [[1,8,33],
    [55,5,3],
    [2,5,88]]

sum = [[0,0,0],
      [0,0,0],
      [0,0,0]]

# iterate through rows
for i in range(len(A)):
   # iterate through columns
   for j in range(len(A[0])):
      sum[i][j] = A[i][j] + B[i][j]

for i in sum:
   print(i)

[3, 13, 36]
[59, 11, 9]
[4, 6, 97]

# Question 9: Check a given string is palindrome or not

In [ ]:
# Version 1
def palindrome(string1):
  return string1 == string1[::-1]
palindrome("madam")

True

In [ ]:
# Version 2 from Course
String1  = 'Oro'
String1 = String1.casefold()
R_String1 = reversed(String1)
if list(String1) == list(R_String1):
   print("Palindrome")
else:
   print("Not Palindrome")

Palindrome

# Question 10: Reverse the given string

In [ ]:
# Version 1
string = "An big apple"
print(string)
reversed_string = string[::-1]
print(reversed_string)

An big apple
elppa gib nA

In [ ]:
# Version 2 from Course
String1 = "Hello World"
print(String1[: : -1])

dlroW olleH

In [ ]:
#note : there are so many approaces we do have to reverse the string :)

# Question 11: Check whether a substring in present in String or not

In [ ]:
# Version 1
def check_substring_in_string(substring, string):
  if substring in string:
    print(f"'{substring}' is present in '{string}'")
  else:
    print(f"'{substring}' is not present in '{string}'")
check_substring_in_string('app', 'An apple')

'app' is present in 'An apple'

In [ ]:
# Version 2 from Course
String1 = "Hello World"
s1 = "Wor"

if s1 in String1:
  print("It is present")
else:
  print("It is not Present")

It is present

# Question 12: Check a given number is prime number or not

In [ ]:
# Version 1
def prime_number(n):
  if n < 2:
    return False
  for i in range(2, n):
    if n % i == 0:
      return False
    return True

prime_number(11)

True

In [ ]:
# Version 2
Value = 29
Flag_var = False

if Value == 1:
    print("It is not a prime number")
elif Value > 1:
    for i in range(2, Value):
        if (Value % i) == 0:
            Flag_var = True
            break

    if Flag_var:
        print("It is not a prime number")
    else:
        print("It is a prime number")

It is a prime number

In [ ]:
#note : For every question, there could be multiple ways to solve.
# so trust on your method and all are correct
# I wish you all the best dear:)

# Question 1: Find the area of a triangle

In [ ]:
import math
def area_triangle(a, b, c):
  s = (a + b + c) / 2
  return math.sqrt(s*(s-a)*(s-b)*(s-c))
print(area_triangle(5, 5, 5))

10.825317547305483

# Question 2: Check Leap Year

In [ ]:
def leap_year(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        print(f"{year} is leap year")
      else:
        print(f"{year} is not leap year")
    else:
      print(f"{year} is not leap year")
  else:
    print(f"{year} is not leap year")
leap_year(2000)
leap_year(2022)
leap_year(2024)

2000 is leap year
2022 is not leap year
2024 is not leap year

# Question 3: Make a Simple Calculator

In [ ]:
def add(number1, number2):
  return number1 + number2
def sub(number1, number2):
  return number1 - number2
def multiply(number1, number2):
  return number1 * number2
def divide(number1, number2):
  return number1 / number2
print(add(10, 5))
print(sub(10, 5))
print(multiply(10, 5))
print(divide(10, 5))

15
5
50
2.0

# Question 4: Swap two variables

In [ ]:
def swap_variables(a, b):
  a, b = b, a
  return a, b
print(swap_variables(10, 15))

(15, 10)

# Question 5: Convert Celsius to Fahrenheit

In [ ]:
def convert_Celsius_Fahrenheit(celsius):
  return (celsius * 9/5) + 32
print(convert_Celsius_Fahrenheit(28))

82.4

# Capitalize the first letters

In [ ]:
def capitalize_first_letters(input2):
    input_split = input2.split()
    # print(input_split)
    capitalize_output = []
    for i in input_split:
        capitalized = i.capitalize()
        capitalize_output.append(capitalized)
    output_string = ' '.join(capitalize_output)
    return output_string
input2 = "the quick brown fox jumps over the lazy dog"
print(capitalize_first_letters(input2))

The Quick Brown Fox Jumps Over The Lazy Dog

# Replace spaces with underscores

In [ ]:
input2 = "the quick brown fox jumps over the lazy dog"
print(input2.replace(" ", "_"))

the_quick_brown_fox_jumps_over_the_lazy_dog

# Convert temperature

In [ ]:
def convert_tempreture(input):
    resut_input = []
    for i in input:
        city = i[0]
        celsius = i[1]
        fahrenheit = celsius * 9/5 + 32
        resut_input.append((city, fahrenheit))
    return resut_input

input = [("London", 15), ("Mumbai", 25)]
print(convert_tempreture(input))

# **************

result_input = [(city, celsius * 9/5 + 32) for city, celsius in input]
print(result_input)
# **************

result_input2 = list(map(lambda item: (item[0], (item[1] * 9/5) + 32), input))
print(result_input2)

[('London', 59.0), ('Mumbai', 77.0)]
[('London', 59.0), ('Mumbai', 77.0)]
[('London', 59.0), ('Mumbai', 77.0)]

# Status Day

In [ ]:
def day(status):
    match status:
        case 1:
            return "Monday"
        case 2:
            return "Tuesday"
        case 3:
            return "Wednesday"
        case 4:
            return "Thursday"
        case 5:
            return "Friday"
        case 6:
            return "Saturday"
        case 7:
            return "Sunday"
        case _:
            return "Something went wrong"
print(day(1))

Monday

# Reverse string

In [ ]:
def reverse_string(string):
    return string[::-1]
my_string = "Uttam"

reversed_string = reverse_string(my_string)
print(reversed_string)

mattU

# Sum of items from the list

In [ ]:
def add_items_list(items):
    total = 0
    for item in items:
        total += item
        # print(total)
    return total

items = [3, 3, 30, 34]
print(items)
print("Sum is:", add_items_list(items))

[3, 3, 30, 34]
Sum is: 70

#Remove letters from string

In [ ]:
# input "aabbcc3nn5nn6nn7"
# output: 3,5,6,7

def remove_number(string):
    new_string = []
    for i in string:
        if i in '0123456789':
            new_string.append(i)
    return ''.join(new_string)
string = "aabbcc3nn5nn6nn7"
print(remove_number(string))

3567

# Pyramid Star Pattern in Python

In [ ]:
# 1. Star pattern program to print left half pyramid
def pattern(n):
  for i in range(1, n+1):
    # print star
    print("*" *  i)
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
*
**
***
****
*****

In [ ]:
# 2. Star pattern program to print downward left half pyramid
def pattern(n):
  for i in range(n):
    # print start
    print("*" * (n-i))
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
*****
****
***
**
*

In [ ]:
# 3. Star pattern program to print right half pyramid
def pattern(n):
  for i in range(1, n+1):
    # print start
    print(" " * (n-i) + "*" * i)
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 8
       *
      **
     ***
    ****
   *****
  ******
 *******
********

In [ ]:
# 4. Star pattern program to print downward right half pyramid
def pattern(n):
  for i in range(n-1):
    for j in range(i+1):
      # print spaces
      print(" ", end="")
    for k in range(n-i-1):
      # print stars
      print("*", end="")
    print()
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
 ****
  ***
   **
    *

In [ ]:
# 5. Star pattern program to print pyramid or triangle
def pattern(n):
  for i in range(n):
    # print stars
    print(" " * (n-i-1) + "*" * (2*i+1))
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
    *
   ***
  *****
 *******
*********

In [ ]:
# 6. Star pattern program to print reverse pyramid or triangle
def pattern(n):
  a = (2 * n) - 2
  for i in range(n, -1, -1):
    for j in range(a, 0, -1):
      print(end=" ")
    a = a + 1
    # incrementing a after each loop
    for j in range(0, i+1):
      print("* ", end="")
    print("\r")
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
# 7. Star pattern program to print scalene triangle
def pattern(n):
  a = n - 1
  for i in range(n):
    for j in range(a):
      print(end=" ")
    # decrementing a after each loop
    a = a - 1
    for j in range(i+1):
      # print starts
      print("* ", end=" ")
    print("\r")
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
    *
   *  *
  *  *  *
 *  *  *  *
*  *  *  *  *

In [ ]:
# 8. Star pattern program to print left pascal triangle
def pattern(n):
  # print upper triangle
  for i in range(n):
    for j in range(n-i-1):
      # print spaces
      print(" ", end=" ")
    for j in range(i+1):
      # print stars
      print("* ", end="")
    print()

  # print lower triangle
  for i in range(n-1):
    for j in range(i+1):
      # print spaces
      print(" ", end=" ")
    for j in range(n-i-1):
      # print stars
      print("* ", end="")
    print()
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
# 9. Star pattern program to print right pascal triangle
def pattern(n):
  for i in range(n):
    print("* " * (i+1))
  for i in range(n):
    print("* " * (n-i-1))
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# 10. Star pattern program to print diamond
def pattern(n):
  # print upper pyramid
  for i in range(n):
    for j in range(n-i-1):
      print(" ", end="")
    for j in range(2*i+1):
      # print star
      print("*", end="")
    print()
    # print downward pyramid
  for i in range(n-1):
    for j in range(i+1):
      print(" ", end="")
    for j in range(2*(n-i-1)-1):
      # print stars
      print("*", end="")
    print()
n = int(input("Enter number of row: "))
pattern(n)

Enter number of row: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

# FizzBuzz

In [5]:
# printing "Fizz" for numbers divisible by 3, "Buzz" for numbers divisible by 5, "FizzBuzz" for numbers divisible by both 3 and 5, 
# and the number itself for all other cases. 

def fizzbuzz(x):
  for i in range(1, x + 1):
      if i % 3 == 0 and i % 5 != 0:
          print("Fizz", end=" ")
      elif i % 5 == 0 and i % 3 != 0:
          print("Buzz", end=" ")
      elif i % 3 == 0 and i % 5 == 0:
          print("FizzBuzz", end=" ")
      else:
          print(i, end=" ")
fizzbuzz(15)

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz

# Fibonacci series (the sum of two elements defines the next)

In [ ]:
a, b = 0, 1
while a < 10:
    print(a, end=" ")
    a, b = b, a + b
print("\n")

0 1 1 2 3 5 8

# Count days remaining until the New Year's Day

In [ ]:
from datetime import datetime

def countdowntoNY():
    current_date = datetime.today().date()
    nydate = datetime(2024, 1, 1).date()
    difference_in_days = (nydate - current_date).days

    return difference_in_days
days_remaining = countdowntoNY()
print(f"Days remaining until New Year's Day: {days_remaining}")

Days remaining until New Year's Day: 180

1. For a positive integer number n, find the maximum number which is the product of some positive integer numbers for which the sum is n.
Notes: you can split the number n in as many integer numbers you want; the numbers don't have to be distinct
Example: n = 7 can be split as 5 + 2 = 7 and the product is 5 * 2 = 10 or 4 + 3 = 7 and the product is 4 * 3 = 12 
which is better or 3 + 3 + 1 = 7 and the product is 3 * 3 * 1 = 9 which is worse, etc.

In [6]:
def max_product_sum_n(n):
    if n <= 1:
        return n

    # Initialize the product to 1
    product = 1

    # Try to split n into as many 3's as possible
    while n > 4:
        product *= 3
        n -= 3

    # Handle the remaining cases (n can be 2, 3, or 4 at this point)
    product *= n

    return product

# Example usage:
n = 7
result = max_product_sum_n(n)
print(f"The maximum product for sum {n} is: {result}")

The maximum product for sum 7 is: 12

1. Avand un sir de numere, scriti o functie ce muta la inceputul acelui sir toate zerourile, pastrand in acelasi timp  ordinea relativa a celorlalte valori. De exemplu: sir = [1, 3, 0, 12, 0], dupa apelarea functiei sir = [0, 0, 1, 3, 12].

In [7]:
def muta_zerouri_la_inceput(sir):
    # Filtrăm toate zerourile și apoi concatenăm lista rezultată cu restul de elemente
    sir = [0] * sir.count(0) + [x for x in sir if x != 0]
    return sir

# Exemplu de utilizare:
sir1 = [1, 3, 0, 12, 0]
sir2 = muta_zerouri_la_inceput(sir1)
print(sir2)

[0, 0, 1, 3, 12]