# https://forms.gle/8WTS98eKdo8NM6XR7

1. Python program to find the area of a triangle

In [ ]:
a = float(input('Enter first side: '))
b = float(input('Enter second side: '))
c = float(input('Enter third side: '))

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5

print(round(area,2))

Enter first side: 30
Enter second side: 21
Enter third side: 18
185.96

2. Python Program to Check Leap Year

In [ ]:
# Leap year is divisible by 4 but it should not be a century year(ending with 00)
# The century year is a leap year if it is perfectly divisible by 400

In [2]:
year = int(input("Enter the year "))

if(year%400 ==0):
  print("Leap Year")

elif(year%4 == 0) and (year%100 != 0):
  print("Leap Year")

else:
  print("Not a leap year")

Leap Year

3. Python Program to Make a Simple Calculator

In [2]:
def add(a, b):    
   print(a + b)   

def subtract(a, b):   
   print(a - b)   

def multiply(a, b):     
   print(a * b)   

def divide(a, b):      
   print(a / b)    

print ("Please select the operation.")    
print ("1. Add")    
print ("2. Subtract")    
print ("3. Multiply")    
print ("4. Divide")    
    
choice = input("Please enter choice (1/ 2/ 3/ 4): ")    
    
num_1 = int (input ("Please enter the first number: "))    
num_2 = int (input ("Please enter the second number: "))    
    
if choice == '1':    
   add(num_1, num_2)   
    
elif choice == '2':    
   subtract(num_1, num_2)  
    
elif choice == '3':    
   multiply(num_1, num_2)   
   
elif choice == '4':    
   divide(num_1, num_2)   
else:    
   print("This is an invalid input")

Please select the operation.
1. Add
2. Subtract
3. Multiply
4. Divide
Please enter choice (1/ 2/ 3/ 4): 3
Please enter the first number: 20
Please enter the second number: 12
240

4. Python program to swap two variables

In [ ]:
a = 30
b = 50

print("before swap")
print(a,b)

a,b = b,a

print("after swap")
print(a,b)

before swap
30 50
after swap
50 30

Approach 2 : using a third variable

In [ ]:
num1 = 30
num2 = 50

print("before swap")
print(num1,num2)


print("after swap")

temp = num1
num1 = num2
num2 = temp

print(num1, num2)

before swap
30 50
after swap
50 30

5. Python program to convert Celsius to Fahrenheit

In [ ]:
c = 100
f = (c * 9/5) + 32
print(f)

212.0