# Session 5: Dynamic & Static allocation. List, Tuple, Dictionary, Sets
    Objectives: Understanding some useful data structure in python
    Outcome of the Class: To get the understanding of Dynamic Allocation of values to a variable and List, tuple, dictionary, set in python

		Explore:
        1. How to convert the list into tuple?
        2. How to convert the tuple into the list?

Allocation
  1. Static allocation
  2. Dynamic allocation

Data Stuctures
  1. List = collection of different data types. ordered, mutable (can be changed), allow duplicates
  2. Tuple = collection of different data types. ordered, immutable (can't be changed), allow duplicates
  3. Dictionary = collection of different data types. defined with key:value pairs. ordered, changeable, does not allow duplicates
  4. Sets = collection of different data types. unordered, immutable, have no index, do not allow duplicated values

In [ ]:
# Static allocation, int
a = 50
b = 100
print(a + b)

150

In [ ]:
# Static allocation, float
a = 50.2
b = 100.3
print(a + b)

150.5

In [ ]:
# Static allocation, string
string1 = "Sergiu"
string2 = "Ghimp"
print(string1 + " " + string2)

Sergiu Ghimp

In [ ]:
# Dynamic allocation, int
value1 = int(input("Enter the value of a "))
value2 = int(input("Enter the value of b "))
print(value1 + value2)

Enter the value of a 300
Enter the value of b 20
320

In [ ]:
# Dynamic allocation, float
value1 = float(input("Enter the value of a "))
value2 = float(input("Enter the value of b "))
print(value1 + value2)

Enter the value of a 29.3
Enter the value of b 48.2
77.5

In [ ]:
# Dynamic allocation, string
string1 = str(input("Enter the value of a "))
string2 = str(input("Enter the value of b "))
print(string1 + " " + string2)

Enter the value of a Michael
Enter the value of b Jordan
Michael Jordan

In [ ]:
# q: write a program which will take 2 number from user and returns the addtion, substraction, multiplication and division
number1 = int(input("Enter the value of number1 "))
number2 = int(input("Enter the value of number2 "))
print("The two number are as follow", number1, "and", number2)
print()
print("Addition is", number1 + number2)
print("Substraction is", number1 - number2)
print("Multiplication is", number1 * number2)
print("Division is", number1 / number2)

Enter the value of number1 4
Enter the value of number2 3
The two number are as follow 4 and 3

Addition is 7
Substraction is 1
Multiplication is 12
Division is 1.3333333333333333

**List = collection of different data types. ordered, mutable (can be changed), allow duplicates. has the function: append(), len()**

In [ ]:
marks = [80, 89, 34, 67, 23, 0, 97, 99]
print(marks)
print(type(marks))
print(marks[5])

[80, 89, 34, 67, 23, 0, 97, 99]
<class 'list'>
0

In [ ]:
# in list you can put multiple values of different data types
list2 = ["hello", 800, True, False, (60 + 49j), 56.87]
print(list2)
print(type(list2))

['hello', 800, True, False, (60+49j), 56.87]
<class 'list'>

In [ ]:
# finding the length of the list
print(len(list2))

6

In [ ]:
# adding the element to the list
list2.append("Sergiu")
print(list2)

['hello', 800, True, False, (60+49j), 56.87, 'Sergiu']

In [ ]:
# insert in position 3 and shift all the items to the left
list2.insert(3, "England")
print(list2)

['hello', 800, True, 'England', False, (60+49j), 56.87, 'Sergiu']

In [ ]:
# overwriting
# insert in position 3 with an overwriting item from position 3
list2[3] = "France"
print(list2)

['hello', 800, True, 'France', False, (60+49j), 56.87, 'Sergiu']

In [ ]:
# nested list
list3 = [[40, 90], [40, 98], [34, 78, 67]]
print(list3)

[[40, 90], [40, 98], [34, 78, 67]]

**Tuple = collection of different data types. ordered, immutable (can't be changed), allow duplicates**

In [ ]:
tup1 = (500, "hello", False, True, 60 + 59j, 700.98)
print(tup1)
print(type(tup1))
print(tup1[3])

(500, 'hello', False, True, (60+59j), 700.98)
<class 'tuple'>
True

In [ ]:
tup1[3] = "Sergiu" # can not be changed
print(tup1)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# finding the length of the tuple
print(len(tup1))

6

In [ ]:
# nested tuple
tuple2 = ((40, 90), (40, 98), (34, 78, 67))
print(tuple2)

((40, 90), (40, 98), (34, 78, 67))

**Dictionary = collection of different data types. defined with key:value pairs. don't have indexes**

In [ ]:
dict1 = {"Jack":2000, "Michael":3000, "John": 2500}
print(dict1)

{'Jack': 2000, 'Michael': 3000, 'John': 2500}

In [ ]:
print(dict1["Jack"])

2000

In [ ]:
print(dict1[3])

KeyError: 3

In [ ]:
print(dict1.values()) # print the values

dict_values([2000, 3000, 2500])

In [ ]:
print(dict1.keys()) # print keys

dict_keys(['Jack', 'Michael', 'John'])

In [ ]:
print(dict1.items())

dict_items([('Jack', 2000), ('Michael', 3000), ('John', 2500)])

**Sets = collection of different data types. unordered, immutable, have no index, do not allow duplicated values (unique values). have no index**

In [ ]:
set1 = {600, "hello", "jack", 60.98, True, 600}
print(set1)

{True, 600, 'hello', 60.98, 'jack'}

In [ ]:
# how to convert the list into a tuple
my_list = ['John', 'Michael', 9, "John", 2, 3]
list_convert_tuple = tuple(my_list)
print(list_convert_tuple)

('John', 'Michael', 9, 'John', 2, 3)

In [ ]:
# how to convert the tuple into a list
my_tuple = ("John", "Michael", 9, "John", 2, 3)
tuple_convert_list = list(my_tuple)
print(tuple_convert_list)

['John', 'Michael', 9, 'John', 2, 3]

# Session 6: Control Flow (conditional statement) & String slicing
	Objectives: Applying different - 2 Conditions on python program
	Outcome of the Class: Conditonal statement and String slicing in python programming with handson

Python provides several control flow structures that allow you to change the order of execution based on certain conditions or loops

Control flow = the order in which statements are excuted in a program.
  1. Conditional statements = decision-making statement
    1. if = allows you to execute a block of code if a certain condition is met
    2. if - else = allows you execute a different block of code if the condition in not met
    3. if-elif-else = somethimes you might have more than two possible outcomes. in that case, you can use an 'elif' statement to check additional conditions
    4. nested if-else
  2. Transfer statements:
    1. break = exit a loop early if a certain condition is met
    2. continue = skip the rest of the current iteration and move on the next one
    3. pass
  3. Iterative statements = Loops = iterating (repetition) over a sequence (list, tuple, dictionary, set, string)
    1. for loop
      1. how many times you want to repeat a block of code
      2. to iterate over the items of a list or any other iterable object
    2. while loop = repeat a block of code as long as condition is true


String slicing = printing parts of the string. have 3 parameters (start, end, step)

In [ ]:
# if
a = 500
if (a > 20):
  print(f"Number {a} is more than 20")

Number 500 is more than 20

In [ ]:
x = 5
if x > 0:
  print("x is positive")

x is positive

In [ ]:
# if else
a = 5
if a > 20:
  print(f"Number {a} is more than 20")
else:
  print(f"Number {a} is less than 20")

Number 5 is less than 20

In [ ]:
x = -5
if x > 0:
  print("x is positive")
else:
  print("x is negative")

x is negative

In [ ]:
# program that take dynamic input and check that the number is even or odd
number = int(input("Enter the number to check if its is odd or even: "))
if number % 2 ==0:
  print(f"Number is {number} and it is even")
else:
  print(f"Number is {number} and it is odd")

Enter the number to check if its is odd or even: 97
Number is 97 and it is odd

In [ ]:
# elif block: when we have to check multiple condition
# problem with multiple 'if' block
marks = int(input("Enter the marks of the student "))
print("The marks is ", marks)

if marks >= 90:
  print("A grade")
elif marks >= 80 and marks < 90:
  print("B grade")
elif marks >= 70 and marks < 80:
  print("C grade")
else:
  print("Failed")

Enter the marks of the student 91
The marks is  91
A grade

In [ ]:
# check the number in what interval is
number = int(input("Enter a number between 0 and 1000 "))
print("The number is: ", number)
if number > 1000:
  print("The number is to big, bigger than 1000")
elif number > 500 and number <= 1000:
  print("The number is in the second half")
elif number <= 500 and number > 0:
  print("The number is in the first half")
else:
  print("Number is to small, less than 0")

Enter a number between 0 and 1000 620
The number is:  620
The number is in the second half

In [ ]:
x = 0
if x > 0:
  print("x is positve")
elif x < 0:
  print("x is negative")
else:
  print("x is zero")

x is zero

In [ ]:
# string
name1 = "Python" # with double quotation
name2 = 'Python' # with single quotation
print(name1)
print(name2)

Python
Python

**String slicing**

In [ ]:
name1 = "Python"
print(name1[1:3]) # printing from position 1 (included) to position 3 (excluded)

yt

In [ ]:
# ways to print the full string
print(name1)
print(name1[:])
print(name1[0:])
print(name1[:len(name1)])
print(name1[: : 1])

Python
Python
Python
Python
Python

In [ ]:
# in slicing we have 3 parameters (start, end, step)
# step/skip condition
print(name1[::2]) # skip multiple of 2 position

Pto

In [ ]:
name2 = "Python is a easy programming language"
print(name2)
print(name2[::3])

Python is a easy programming language
Ph  eyrrmgaue

In [ ]:
name = "Hello"
print(name[2:4])

ll

# Session 7: Negative slicing & Loops & Assignment
	Objectives: Implementation of Loop in python code
	Outcome of the Class: String slicing for negative indexing and application of loops in python programming

In [ ]:
print(name[-3:-1])

ll

In [ ]:
name1 = "Python programming"
print(name1[4:10])
print(name1[-14:-8])
print(name1[2:15:9])

on pro
on pro
tr

In [ ]:
name5 = "I am a very good programmer"
# I need 'a very goo' for +ve and -ve indexing
print(name5[5:15])
print(name5[-22:-12])

a very goo
a very goo

**for loop**

In [ ]:
# for loop
# print number from 1 to 10
for i in range(1, 11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print numbers from 2 to 55
for i in range(2, 56):
  print(i, end=" ")

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55

In [ ]:
# write a program that print even number from 0 to 20
for i in range(0, 21):
  if i % 2 == 0:
    print(i, end=" ")
print()

# write a program which will print odd number from 7 to 73
for i in range(7, 74):
  if i % 2 != 0:
    print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20
7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73

In [ ]:
# even approach 2 with jumping condition
for i in range(0, 21, 2):
  print(i, end=" ")
print()
# odd approach 2 with jumping condition
for i in range(7, 74, 2):
  print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20
7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73

In [ ]:
for x in range(5):
  print(x, end=" ")

0 1 2 3 4

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

**while loop**

In [ ]:
# while loop
# print number from 1 to 10
i = 0
while i < 11:
  print(i, end=" ")
  i += 1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
# using while
# write a program which will print even number from 0 to 20
i = 0
while i < 21:
  if i % 2 == 0:
    print(i, end=" ")
  i += 1
print()
# write a program which will print odd number from 7 to 73
i = 7
while i < 74:
  if i % 2 != 0:
    print(i, end=" ")
  i += 1

0 2 4 6 8 10 12 14 16 18 20
7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73

In [ ]:
# print number from 100 to 1 using for and while loop?
# for
for i in range(100, 0, -1):
  print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
i = 100
while(i > 0):
  print(i, end=" ")
  i = i - 1

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
# break
x = 0
while True:
  if x == 5:
    break
  print(x, end=" ")
  x += 1

0 1 2 3 4

In [ ]:
# continue
for x in range(10):
  if x % 2 == 0:
    continue
  print(x, end=" ")

1 3 5 7 9